TP1/.idea
dataset
TP2/.idea
TP2/RolGame/.idea
TP2/RolGame/RolGame.iml

TP3/Perceptron/.idea
TP3/Perceptron/*.iml
TP3/Perceptron/target/
TP3/.idea
TP3/*.iml

TP3/EJ1/.idea
TP3/EJ1/*.iml
TP3/EJ1/target/

TP3/EJ2/.idea
TP3/EJ2/*.iml
TP3/EJ2/target/

TP3/EJ3/.idea
TP3/EJ3/*.iml
TP3/EJ3/target/

TP4/EJ1/.idea
TP4/EJ1/*.iml
TP4/EJ1/target/

TP4/EJ2/.idea
TP4/EJ2/*.iml
TP4/EJ2/target/

TP4/Executables/.idea